.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#footer {
  text-align: center;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(31,31,31);
  letter-spacing: 8px;
  line-height: 20px;
  font-size: 12px;
  border-top: 1px rgba(255, 255, 255, 0.315) solid;
  background-color: rgba(255, 255, 255, 0.747);
}

/* Event Cards--------------------------------------------------------------- */
.cardContent {
  text-align: center; 
  margin-top: 50px; 
  margin-bottom: 50px; 
  margin-left: 20px; 
  margin-right: 20px;
  max-height: 350px;
}

.cardContainer {
  border: solid black 2px; 
  display: flex; 
  align-items: center; 
  width: 25rem; 
  background-image: url(../src/public//assets/img/RotatedTabletop.png); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  max-block-size: inherit;
}

#centerLogo {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 10px; 
  border-radius: 80px; 
}

/* About Cards---------------------------------------------------------------- */
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section{
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.aboutCard{
  list-style: none;
  position: relative;
}

.aboutCard:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.aboutCard:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .aboutCard:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.3rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.navTAB{
  margin-bottom: 20px; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px
}

.aboutTitle{
  padding-top: 70px;
  font-family: 'Josefin Sans', sans-serif;
  /* font-size: 28px; */
  padding-left:32px

}

.Footer{
  position: fixed;
  bottom: 0;
  padding-top:360px;
  font-family: 'Josefin Sans', sans-serif;
  
}

.profilepageTitle{
  padding-top: 70px;
  font-family: 'Josefin Sans', sans-serif;
  /* font-size: 28px; */
  padding-left:32px;
  
}

.yourFirstLast{
  padding-top:40px;
  padding-bottom:25px;
  font-family: 'Josefin Sans', sans-serif;
  

}

.yourEmail{
  padding-bottom:25px;
  font-family: 'Josefin Sans', sans-serif;
  

}

.yourAddress{
  padding-bottom:25px;
  font-family: 'Josefin Sans', sans-serif;
}

.yourLocation{
  padding-bottom:25px;
  font-family: 'Josefin Sans', sans-serif;
}

.saveButton{
  padding-top: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

.yourNotes{
  font-family: 'Josefin Sans', sans-serif;

}
.aboutBlurb{
  padding-top: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px
}

.loginTitle{
  padding-top: 35px;
  font-family: 'Josefin Sans', sans-serif;
  /* font-size: 28px; */
  padding-left:40px;
  

}

.loginButton{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding-left:40px;

}

.rememberMeBox{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding-left:40px;

}

.registerButton{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding-left:40px;

}

#userNotes{
  font-family: 'Josefin Sans', sans-serif;
}

#userLocation{
  font-family: 'Josefin Sans', sans-serif;

}


#userAddress{
  font-family: 'Josefin Sans', sans-serif;
}


#userPassword{
  font-family: 'Josefin Sans', sans-serif;

}

#userEmail{
  font-family: 'Josefin Sans', sans-serif;

}

#lastName{
  font-family: 'Josefin Sans', sans-serif;

}

#firstName{
  font-family: 'Josefin Sans', sans-serif;
}

.registersaveButton{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;

}

.alreadyRegister{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;

}

.registrationTitle{
  padding-top: 60px;
  font-family: 'Josefin Sans', sans-serif;
  /* font-size: 28px; */
  padding-left:40px;
  

}








